<!DOCTYPE html>

<html>
    <head>
    


        #{get 'moreStyles' /}
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>

        
        
            <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        
    </head>
    <body>
    
    
        <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">
               Movie List </div>
            <div class="alert alert-success" style="display:none;">
                <span class="glyphicon glyphicon-ok"></span> Drag table row and cange Order</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            id
                        </th>
                        <th>
                            Year
                        </th>
                        <th>
                            Title
                        </th>
                    </tr>
                </thead>
                <tbody>                
                	#{list items:movies, as:'m'}
                    	<tr class="active">
                        <td>
                            ${m.id}
                        </td>
                        <td>
                            ${m.year}
                        </td>
                        <td>
                            ${m.title}
                        </td>
                    	</tr>
                	#{/list}
                </tbody>
            </table>
        </div>
    </div>
</div>
        
        
    </body>
</html>